* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: box-sizing;
          box-sizing: box-sizing;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  height: 100vh;
  overflow: hidden;
}

.main-screen {
  background: #20b0db;
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.hidden {
  display: none;
}

.scroll-top {
  -webkit-transform: translateY(-100vh);
      -ms-transform: translateY(-100vh);
          transform: translateY(-100vh);
}

.game-start {
  padding: 25px 30px;
  cursor: pointer;
  background: #e48440;
  border-radius: 50px;
  font-size: 20px;
  width: 60vw;
  text-align: center;
  -webkit-box-shadow: -7px -4px 10px black;
          box-shadow: -7px -4px 10px black;
  color: #201d1d;
  -webkit-transition: 0.1s -webkit-box-shadow ease;
  transition: 0.1s -webkit-box-shadow ease;
  -o-transition: 0.1s box-shadow ease;
  transition: 0.1s box-shadow ease;
  transition: 0.1s box-shadow ease, 0.1s -webkit-box-shadow ease;
  margin-top: -150px;
}
.game-start:active {
  -webkit-box-shadow: 9px 10px 16px 1px black;
          box-shadow: 9px 10px 16px 1px black;
}

.game-continue {
  margin-top: 50px;
  padding: 25px;
  background: #40e477;
  border-radius: 50px;
  font-size: 50px;
  width: 60vw;
  text-align: center;
  -webkit-box-shadow: -7px -4px 10px #2e2d2d;
          box-shadow: -7px -4px 10px #2e2d2d;
  color: #201d1d;
  -webkit-transition: 0.1s -webkit-box-shadow ease;
  transition: 0.1s -webkit-box-shadow ease;
  -o-transition: 0.1s box-shadow ease;
  transition: 0.1s box-shadow ease;
  transition: 0.1s box-shadow ease, 0.1s -webkit-box-shadow ease;
}
.game-continue:active {
  -webkit-box-shadow: 9px 10px 16px 1px black;
          box-shadow: 9px 10px 16px 1px black;
}

.clicker {
  font-size: 40px;
  margin-top: 100px;
  height: 250px;
  width: 250px;
  position: relative;
  color: #fff;
  text-transform: uppercase;
}
.clicker::before {
  content: "";
  position: absolute;
  top: -35%;
  left: 0%;
  background: url(../img/ball.png) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-animation: animate 5s infinite linear;
          animation: animate 5s infinite linear;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.game-footer {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: end;
  margin-bottom: 15px;
  color: #dbcaca;
}

.game-screen {
  height: 100vh;
}

.game-conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  background: #20db29;
  height: 100%;
}

.level {
  display: block;
  padding-bottom: 10px;
  font-size: 25px;
}
.level span {
  color: #1c6666;
}

.ball-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 35px 25px;
  min-width: 150px;
  min-height: 150px;
  background: #ff0c0c;
  line-height: 0.5em;
  border-radius: 50%;
  font-size: 80px;
  cursor: pointer;
}
.ball-count :focus,
.ball-count :active {
  outline: none !important;
  outline-color: transparent !important;
}

.click-count {
  margin-top: 150px;
  font-size: 40px;
  background: coral;
  width: 50%;
  padding: 25px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  color: #201d1d;
  -webkit-box-shadow: -7px -4px 10px #887f7f;
          box-shadow: -7px -4px 10px #887f7f;
}
.click-count:active {
  -webkit-box-shadow: 9px 10px 16px 1px #4d3333;
          box-shadow: 9px 10px 16px 1px #4d3333;
}

.autoclicker {
  margin-top: 30px;
  font-size: 20px;
  background: #50ffff;
  padding: 15px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  color: #201d1d;
  -webkit-box-shadow: -7px -4px 10px #4c64ee;
          box-shadow: -7px -4px 10px #4c64ee;
}
.autoclicker:active {
  -webkit-box-shadow: 9px 10px 16px 1px #1025e4;
          box-shadow: 9px 10px 16px 1px #1025e4;
}

.factor-clicker {
  margin-top: 30px;
  font-size: 20px;
  background: #50ffff;
  padding: 15px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  color: #201d1d;
  -webkit-box-shadow: -7px -4px 10px #4c64ee;
          box-shadow: -7px -4px 10px #4c64ee;
}
.factor-clicker:active {
  -webkit-box-shadow: 9px 10px 16px 1px #1025e4;
          box-shadow: 9px 10px 16px 1px #1025e4;
}

.level-Up {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}